<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-  include('./partials/head')%>

<body>
	<!-- Header -->
	<%-  include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<form class="form" action="/users/register" method="post">
        <div class="title">Registrate</div>
        <div class="input-container ic1">
          <input id="name" class="input" type="text" placeholder="name" name="username"/>
        </div>
        <div class="input-container ic1">
          <input id="email" class="input" type="email" placeholder="email" name="email"/>
        </div>
        <div class="input-container ic1">
          <input id="password" class="input" type="password" placeholder="password" name="contrasenia"/>
        </div>
		<div class="input-container ic">
			<input id="profilepic" class="input" type="profilepic" placeholder="profilepic" name="profilepic"/>
		</div>
        <button type="submit" class="submit">Crear</button>


	<!-- footer -->
	<%-  include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>